@model WebApplication2.Models.PlanoModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PlanoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomePlano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomePlano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TermoDeUso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TermoDeUso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoPlano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoPlano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescontoPlano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescontoPlano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipoPlano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoPlano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parceiro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parceiro.ParceiroCep)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PlanoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
