@using WebApplication1.Enums;
@model UsuarioModel;
@{
    ViewData["Title"] = "Editar um novo Usuário";
}


<div class="text-center">
    <h1 class="display-4">Editar um usuário</h1>
 </div>

        <form asp-controller="Usuario" asp-action="Editar" method="post">

            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="Text" asp-for="Email" class="form-control" aria-describedby="emailHelp" placeholder="Insira o e-mail">
                <small id="emailHelp" class="form-text text-muted">Digite seu melhor e-mail.</small>
                @Html.ValidationMessageFor(x=> x.Email)
            </div>
            <br />
         
            <div class="form-group">
                <label for="Nome">Nome</label>
                <input type="Text" asp-for="Nome" class="form-control" placeholder="Nome">
                @Html.ValidationMessageFor(x=> x.Nome)
            </div>
            <br />
            <div class="form-group">
                <label for="Login">Login</label>
                <input type="Text" asp-for="Login" class="form-control" placeholder="Login">
                @Html.ValidationMessageFor(x=> x.Login)
            </div>
             <br />
            <div class="form-group">
                <label for="Perfil" class="form-label">Perfil</label>
                <select asp-for="Perfil" class="form-control">
                    <option value="">Selecione</option>
                    <option value="@PerfilEnum.Admin">Administrador</option>
                    <option value="@PerfilEnum.Padrao">Padrão</option>
                </select>
                @Html.ValidationMessageFor(x=> x.Perfil)

            </div>
             <br />
        
            <button type="submit" class="btn btn-primary">Editar</button>
            <a class="btn btn-secondary" asp-controller="Usuario" asp-action="Editar" role="button">Voltar</a>
        </form>
